
*.log
*.tgz
*~
.DS_Store
.cache/
.eslintcache
.gatsby-context.js
.idea/
.lock-wscript
.node_repl_history
.npm
.tags
.tags1
.yarn-integrity
/coverage/
/pkg/
/tmp/
build/Release
bundle-stats.json
jspm_packages
logs
node_modules
npm-debug.log*
public/
yarn-error.log
